<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Login - Smart Expense Tracker</title>

</head>

<body>

    <h1>💰 Smart Expense Tracker</h1>

    <h2>Login</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}

        {% if messages %}

            {% for category, message in messages %}

                <p>
                    {{ message }}
                </p>

            {% endfor %}

        {% endif %}

    {% endwith %}


    <form method="POST">

        {{ form.hidden_tag() }}

        <p>
            {{ form.email.label }}
            <br>

            {{ form.email() }}
        </p>

        <p>
            {{ form.password.label }}
            <br>

            {{ form.password() }}
        </p>

        <p>
            <button type="submit">
                Login
            </button>
        </p>

    </form>


    <p>
        Don't have an account?

        <a href="{{ url_for('auth.register') }}">
            Create an account
        </a>
    </p>

</body>

</html>